<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/blog/newpost">new post</a></li>
            </ul>
            <div id="user-account">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
            </div>
        </nav>


        <h1>Login</h1>
            <form action="/login" method="post">
            <label>Username:</label><input type="text" name="username" value={{username}}><br>
            <label>Password:</label><input type="password" name="password"/><br>
            <input type="submit" value="Submit"/>
            <div class = "error">{{error}}</div>
            </form>
        <div>Don't have an account? <a href="/signup">Create one!</a></div>




        {% block content %}
        {% endblock %}
    </body>
</html>